HRSYSTEM_SQL_PASSWORD=HrSystemSql!2026
HRSYSTEM_DB_NAME=HrSystemDb
HRSYSTEM_SQL_PORT=14333
HRSYSTEM_API_PORT=55330
HRSYSTEM_WEB_PORT=4200
HRSYSTEM_JWT_SECRET=HrSystemDockerSecret_ChangeThis_2026_ABC123!
HRSYSTEM_ADMIN_INVITE_CODE=HRADMIN2026
HRSYSTEM_SMTP_ENABLED=false
HRSYSTEM_SMS_ENABLED=false
